#Kenya{ margin: 15px;
    color: white;
    background-color: mediumpurple;
    padding: 15px;
    border: 15px blue;
    text-align: center}
#Tanzania{margin: 15px;
    color: white;
    background-color: deeppink;
    padding: 15px;
    border: 15px blue;
    text-align: center}
#Uganda{margin: 15px;
    text-align: center;
    color: white;
    background-color: mediumpurple;
    padding: 15px;
    border: 15px blue}